<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".moc" mimeType="application/x-mocha" />
            <mimeMap fileExtension=".mtn" mimeType="application/mtn" />
        </staticContent>
    </system.webServer>
</configuration>
